@model APIWEB_UMG.Models.tbl_usuario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contrasena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contrasena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_persona.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_persona.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_tipoPersona.Id_Tpersona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_tipoPersona.Id_Tpersona)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Usuario }) |
    @Html.ActionLink("Back to List", "Index")
</p>
